.sayHi {
  position: absolute;
  height: 3.76vh;
  left: 90.07vh;
  top: 30.7vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12.56vh;
  line-height: 30px;
  /* identical to box height, or 30% */

  color: #ffffff;
}
.persona1 {
  position: absolute;
  height: 64vh;
  left: 20vh;
  top: 72vh;
}

.persona2 {
  position: absolute;
  height: 64vh;
  left: 95vh;
  top: 72vh;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.persona3 {
  position: absolute;
  height: 64vh;
  left: 170vh;
  top: 72vh;
}

.botton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 6px 6px 8px;

  position: absolute;
  width: 25.12vh;
  height: 7.04vh;
  left: 30vh;
  top: 58.41vh;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.talk {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 4.02vh;
  line-height: 16px;
  /* identical to box height, or 50% */

  letter-spacing: 1.25px;
  text-transform: uppercase;

  /* 01. Primary/600 */

  color: #5600e8;
}

.loc2 {
  left: 107vh;
}

.loc3 {
  left: 182vh;
}

.personas {
}
