.sayHi {
  position: absolute;
  width: 1377px;
  height: 240px;
  left: 272px;
  top: 167px;

  white-space: nowrap;
  sfont-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */

  color: #000000;
}
.persona1 {
  position: absolute;
  height: 509.44px;
  left: 159.2px;
  top: 573.12px;
}

.persona2 {
  position: absolute;
  height: 509.44px;
  left: 756.2px;
  top: 573.12px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.persona3 {
  position: absolute;
  height: 509.44px;
  left: 1353.2px;
  top: 573.12px;
}

.botton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 6px 6px 8px;

  position: absolute;
  width: 223.8352px;
  height: 56.0384px;
  left: 238.8px;
  top: 464.9436px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.talk {
  white-space: nowrap;
  sfont-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  /* identical to box height, or 50% */

  letter-spacing: 1.25px;
  text-transform: uppercase;

  /* 01. Primary/600 */

  color: white;
}

.loc2 {
  left: 851.72px;
}

.loc3 {
  left: 1448.72px;
}

.personas {
}
.clickToProceed {
  position: absolute;
  width: 186.98px;
  height: 29.9296px;
  left: 1515.8228px;
  top: 404.0596px;

  white-space: nowrap;
  sfont-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15.999599999999997px;
  line-height: 30px;
  /* identical to box height, or 188% */

  color: #5e48b6;
}

.ellipseProceed {
  position: absolute;
  width: 29.9296px;
  height: 29.9296px;
  left: 1468.8588px;
  top: 399.592px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-color: #5e48b6;
}

.wrapper {
  margin: 0 auto;
  padding: 30px;
}
