.main_title {
  position: absolute;
  color: #ffffff;
  padding-top: 1vh;
  height: 30px;
  left: 64vh;
  top: 55.3vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12vh;
  line-height: 30px;
  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}
.sub_title {
  position: absolute;
  color: #ffffff;
  margin-bottom: 1vh;
  height: 3.92vh;
  left: 97.51vh;
  top: 40vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 30px;
}

.user-answer_no {
  position: relative;
  width: 15vh;
  height: 3.76vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 5.025vh;
  line-height: 30px;
  /* identical to box height, or 75% */

  color: #ffffff;
}

.user-answer_no2 {
  position: absolute;
  width: 15vh;
  height: 3.76vh;
  top: 0vh;
  left: 0vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 5.025vh;
  line-height: 30px;
  /* identical to box height, or 75% */

  color: #ffffff;
}

.user-answer_yes {
  position: relative;
  width: 178px;
  height: 3.76px;
  left: 78.63vh;
  top: -4vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  /* identical to box height, or 75% */

  color: #ffffff;
}

.user-answer_yes2 {
  position: relative;
  width: 178px;
  height: 3.76px;
  left: 0vh;
  top: -3.8vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  /* identical to box height, or 75% */

  color: #ffffff;
}

.circle {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 42vh;
  top: -15px;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.circle_no {
  position: relative;
  width: 54px;
  height: 54px;
  left: 42vh;
  top: -5.6vh;
  opacity: 20%;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.circle_yes {
  position: absolute;
  width: 54px;
  height: 54px;
  left: -36.6vh;
  top: -1.7vh;

  border: 4px solid #ffffff;
  opacity: 20%;
  border-radius: 50%;
}

.wrapper {
  margin: 0 auto;
  padding: 30px;
}

.hr2 {
  position: absolute;
  width: 21vh;
  height: 0px;
  left: 0vh;
  top: 3vh;
  border: 1px solid #ffffff;
}

.hr1 {
  position: absolute;
  width: 14vh;
  height: 0px;
  left: 0vh;
  top: 3vh;

  border: 1px solid #ffffff;
}

/*Onboarding Where*/
.where {
  position: absolute;
  width: 387px;
  height: 30px;
  left: 96.35vh;
  top: 28.86vh;

  width: 48.61vh;
  height: 3.76vh;
  left: 96.35vh;
  top: 30.86vh;
  margin-bottom: 1vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17.58vh;
  line-height: 30px;
  /* identical to box height, or 21% */

  color: #ffffff;

  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}

.goToMap {
  position: relative;
  width: 194px;
  height: 30px;
  left: 0vh;
  top: 0vh;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  /* identical to box height, or 75% */

  color: #ffffff;
}

.hr3 {
  position: relative;
  width: 24vh;
  height: 0px;
  left: -0.3vh;
  top: 1vh;

  border: 1px solid #ffffff;
}

.next {
  position: absolute;
  width: 194px;
  height: 30px;
  left: 109.54vh;
  top: 107.53vh;
}
.next:hover .hr3 {
  border: 1px solid #5e48b6;
}
.next:hover .goToMap {
  color: #5e48b6;
}

/*시간이 얼마나 걸리셨나요*/
.inputClicks {
  position: relative;
  width: 148px;
  height: 30px;
  left: 0px;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  /* identical to box height, or 75% */
  color: #ffffff;
}

.hr4 {
  position: relative;
  width: 144px;
  height: 0px;
  left: 0;
  top: 1vh;

  border: 1px solid #ffffff;
}

.hr5 {
  position: relative;
  width: 100px;
  height: 0px;
  left: -10vh;
  top: -1.2vh;

  border: 1px solid #5e48b6;
}
.link2input {
  position: absolute;
  width: 148px;
  height: 30px;
  left: 891px;
  top: 856px;
}

.link2input:hover .hr4 {
  border: 1px solid #5e48b6;
}
.link2input:hover .inputClick {
  color: #5e48b6;
}

.how_much {
  position: absolute;
  width: 387px;
  height: 30px;
  left: 767px;
  top: 28.86vh;

  width: 48.61vh;
  height: 3.76vh;
  left: 96.35vh;
  top: 30.86vh;
  margin-bottom: 1vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17.58vh;
  line-height: 30px;
  /* identical to box height, or 21% */

  color: #ffffff;

  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}
.time_main {
  position: absolute;
  height: 3.76vh;
  left: 450px;
  top: 50vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 130px;
  line-height: 30px;
  /* identical to box height, or 21% */

  color: #ffffff;
}

.options_text {
  position: absolute;
  height: 30px;
  left: 625px;
  top: 440px;

  color: #ffffff;
  margin-bottom: 1vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 30px;
  /* identical to box height, or 38% */

  color: #ffffff;
}

.obst_text {
  position: absolute;
  height: 3.768vh;
  left: 36.55vh;
  top: 74.24vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17.58vh;
  line-height: 30px;
  /* identical to box height, or 21% */

  color: #ffffff;

  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}

.which {
  position: absolute;
  width: 1334px;
  height: 30px;
  left: 291px;
  top: 591px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17.58vh;
  line-height: 30px;
  /* identical to box height, or 21% */
  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);

  color: #ffffff;
}

/*obstacleOptions*/
.textbelow {
  position: absolute;
  width: 1100px;
  height: 30px;
  left: 410px;
  top: 200px;
}

#box1 {
  /*box*/
  box-sizing: border-box;

  position: absolute;
  width: 40.34vh;
  height: 24.64vh;
  left: 51.38vh;
  top: 28.81vh;

  background: linear-gradient(
    178.15deg,
    #ffffff 1.56%,
    rgba(255, 255, 255, 0) 165.01%
  );
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  text-align: center;
  padding-top: 11vh;
}

#box2 {
  box-sizing: border-box;

  position: absolute;
  width: 40.34vh;
  height: 24.64vh;
  left: 98.49vh;
  top: 28.81vh;

  background: linear-gradient(
    178.15deg,
    #ffffff 1.56%,
    rgba(255, 255, 255, 0) 165.01%
  );
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  text-align: center;
  padding-top: 11vh;
}

#box3 {
  box-sizing: border-box;
  position: absolute;
  width: 40.34vh;
  height: 24.64vh;
  left: 145.6vh;
  top: 28.81vh;

  background: linear-gradient(
    178.15deg,
    #ffffff 1.56%,
    rgba(255, 255, 255, 0) 165.01%
  );
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  text-align: center;
  padding-top: 11vh;
}

#box4 {
  box-sizing: border-box;

  position: absolute;
  width: 40.34vh;
  height: 24.64vh;
  left: 51.38vh;
  top: 60.22vh;

  background: linear-gradient(
    178.15deg,
    #ffffff 1.56%,
    rgba(255, 255, 255, 0) 165.01%
  );
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  text-align: center;
  padding-top: 11vh;
}

#box5 {
  box-sizing: border-box;

  position: absolute;
  width: 40.34vh;
  height: 24.64vh;
  left: 98.49vh;
  top: 60.22vh;

  background: linear-gradient(
    178.15deg,
    #ffffff 1.56%,
    rgba(255, 255, 255, 0) 165.01%
  );
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  text-align: center;
  padding-top: 11vh;
}

#box6 {
  box-sizing: border-box;

  position: absolute;
  width: 40.34vh;
  height: 24.64vh;
  left: 145.6vh;
  top: 60.22vh;

  background: linear-gradient(
    178.15deg,
    #ffffff 1.56%,
    rgba(255, 255, 255, 0) 165.01%
  );
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  text-align: center;
  padding-top: 11vh;
}

.boxes {
}
.move {
}
.boxes:hover .move {
  border: thin solid #ff0000;
  animation-name: tossing;
  -webkit-animation-name: tossing;

  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.boxes:hover .text {
  color: #ffffff;
}

.boxes:hover #box1 {
  background: #5e48b6;
}

.boxes:hover #box2 {
  background: #5e48b6;
}

.boxes:hover #box3 {
  background: #5e48b6;
}

.boxes:hover #box4 {
  background: #5e48b6;
}

.boxes:hover #box5 {
  background: #5e48b6;
}

.boxes:hover #box6 {
  background: #5e48b6;
}

@keyframes tossing {
  0% {
    transform: rotate(-2deg);
  }
}
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;

  font-size: 6vh;
  line-height: 30px;
  /* identical to box height, or 50% */

  color: #5e48b6;
}

.choose_one {
  position: absolute;
  height: 3.76vh;
  left: 55.5vh;
  top: 20vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 7.53vh;
  line-height: 30px;
  /* identical to box height, or 50% */

  color: #ffffff;
  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}

/*OBDfinish*/
.ok {
  position: absolute;
  height: 3.76vh;
  left: 85.8vh;
  top: 65.95vh;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17.58vh;
  line-height: 30px;
  /* identical to box height, or 21% */

  color: #ffffff;
}

/*OBDfinish2 w/ user input*/
.OBD2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  /* identical to box height, or 150% */
  text-align: center;
  color: #ffffff;
  font-size: 10.05vh;
}

.textLoc1 {
  position: absolute;

  height: 15.07vh;
  left: 106.78vh;
  top: 45.22vh;
}

.textLoc2 {
  position: absolute;
  height: 15.07vh;
  /*left*/
  top: 60.3vh;
}

.textLoc3 {
  position: absolute;
  height: 15.07vh;
  /*left*/
  top: 75.37vh;
}

/*OBDfinish3*/
.txt1 {
  position: absolute;
  height: 15.07vh;
  left: 110.17vh;
  top: 52.76vh;
}

.txt2 {
  position: absolute;
  height: 15.07vh;
  left: 64.69vh;
  top: 67.83vh;
  color: #5e48b6;
}

/*animation*/
.user-answer_no:hover .circle_no {
  transform: translateX(-200px);
  border-color: grey;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  opacity: 1;
}

.user-answer_no:hover .user-answer_no2 {
  color: grey;
  transition-duration: 1s;
  opacity: 1;
}

.user-answer_no:hover .bg-no {
  color: grey;
}

.user-answer_yes:hover .circle_yes {
  transform: translateX(200px);
  border-color: red;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  opacity: 1;
}

.user-answer_yes:hover .user-answer_yes2 {
  color: red;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  opacity: 1;
}

.user-answer_yes:hover .hr2 {
  border: 2px solid red;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  opacity: 1;
}

.user-answer_no:hover .hr1 {
  border: 2px solid grey;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  opacity: 1;
}

.no-area {
  position: absolute;
  width: 15vh;
  height: 3.76vh;
  left: 73.3vh;
  top: 107.66vh;
}

/*timetaken2*/

/*
position: relative;
  width: 148px;
  height: 30px;
  left: 0px;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  /* identical to box height, or 75% */

.small {
  font-size: 24px;
  background-color: white;
  width: 128px;
  height: 58px;

  position: absolute;

  left: 940px;
  top: 856px;

  margin-left: -72px;
  color: #5e48b6;
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  border-color: #5e48b6;
}
