.main_title {
  position: absolute;
  height: 30px;
  left: 380px;
  top: 400px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 30px;
  /* identical to box height, or 20% */

  color: #ffffff;
}
.sub_title {
  position: absolute;
  height: 30px;
  left: 745px;
  top: 240px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 30px;
  /* identical to box height, or 38% */

  color: #ffffff;
}

.user-answer_no {
  position: absolute;
  height: 30px;
  left: 100px;
  top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
}

.user-answer_no2 {
  position: absolute;
  left: 0px;
  top: 0px;

  color: #ffffff;
}

.user-answer_yes {
  position: absolute;
  height: 30px;
  left: 500px;
  top: 30px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  /* identical to box height, or 75% */

  color: #ffffff;
}

.user-answer_yes2 {
  position: absolute;
  height: 30px;
  left: 0px;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  color: #ffffff;
}

.circle {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 933px;
  top: 851px;
}

.circle_no {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 725px;
  top: 853px;
}

.circle_yes {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 30px;
  top: 40px;
}

.wrapper {
  margin: 0 auto;
  padding: 30px;
}

.hr2 {
  position: absolute;
  width: 167.16px;
  height: 0px;
  left: 0vh;
  top: 23.88px;
  border: 1px solid #ffffff;
}

.hr1 {
  position: absolute;
  width: 111.44px;
  height: 0px;
  left: 0px;
  top: 23.88px;

  border: 1px solid #ffffff;
}

/*Onboarding Where*/
.where {
  position: absolute;
  height: 30px;
  left: 767px;
  top: 200px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 140px;
  line-height: 30px;
  /* identical to box height, or 21% */

  color: #ffffff;

  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);

  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}

.goToMap {
  position: relative;
  width: 194px;
  height: 30px;
  left: 0px;
  top: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  /* identical to box height, or 75% */

  color: #ffffff;
}

.hr3 {
  position: relative;
  width: 191.04px;
  height: 0px;
  left: -2.388px;
  top: 7.96px;

  border: 1px solid #ffffff;
}

.next {
  position: absolute;
  width: 194px;
  height: 30px;
  left: 871.93px;
  top: 855.9388px;
}
.next:hover .hr3 {
  border: 1px solid #5e48b6;
}
.next:hover .goToMap {
  color: #5e48b6;
}

/*시간이 얼마나 걸리셨나요*/
.inputClicks {
  position: relative;
  height: 30px;
  left: 0px;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  /* identical to box height, or 75% */
  color: #ffffff;
}

.hr4 {
  position: relative;
  width: 144px;
  height: 0px;
  left: 0;
  top: 7.96px;

  border: 1px solid #ffffff;
}

.hr5 {
  position: relative;
  width: 100px;
  height: 0px;
  left: -79.6px;s
  top: -9.552px;

  border: 1px solid #5e48b6;
}
.link2input {
  position: absolute;
  width: 148px;
  height: 30px;
  left: 891px;
  top: 856px;
}

.link2input:hover .hr4 {
  border: 1px solid #5e48b6;
}
.link2input:hover .inputClick {
  color: #5e48b6;
}

.how_much {
  position: absolute;
  height: 30px;
  left: 767px;
  top:  229.72px;

  height: 29.9296px;
  left: 766.9459px;
  top: 245.6456px;
  margin-bottom: 7.96px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size:  139.9367px;
  line-height: 30px;
  /* identical to box height, or 21% */

  color: #ffffff;

  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}
.time_main {
  position: absolute;
  height: 29.9296px;
  left: 450px;
  top:  398px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 130px;
  line-height: 30px;
  /* identical to box height, or 21% */

  color: #ffffff;
}

.options_text {
  position: absolute;
  height: 30px;
  left: 625px;
  top: 440px;

  color: #ffffff;
  margin-bottom: 7.96px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 30px;
  /* identical to box height, or 38% */

  color: #ffffff;
}

.obst_text {
  position: absolute;
  height: 29.99328px;
  left: 290.938px;
  top: 590.9504px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 139.9px;
  line-height: 30px;
  /* identical to box height, or 21% */

  color: #ffffff;

  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}

.which {
  position: absolute;
  height: 30px;
  left: 291px;
  top: 591px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 139.9px;
  line-height: 30px;
  /* identical to box height, or 21% */
  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);

  color: #ffffff;
}

/*obstacleOptions*/
.textbelow {
  position: absolute;
  width: 1100px;
  height: 30px;
  left: 410px;
  top: 200px;
}

#box1 {
  /*box*/
  box-sizing: border-box;

  position: absolute;
  width:  321.1064px;
  height: 196.1344px;
  left:  408.9848px;
  top:  229.3276px;

  background: linear-gradient(
    178.15deg,
    #ffffff 1.56%,
    rgba(255, 255, 255, 0) 165.01%
  );
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  text-align: center;
  padding-top:  87.56px
}

#box2 {
  box-sizing: border-box;

  position: absolute;
  width:  321.1064px;
  height: 196.1344px;
  left:783.98px;
  top: 229.3276px;

  background: linear-gradient(
    178.15deg,
    #ffffff 1.56%,
    rgba(255, 255, 255, 0) 165.01%
  );
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  text-align: center;
  padding-top:  87.56px;
}

#box3 {
  box-sizing: border-box;
  position: absolute;
  width:  321.1064px;
  height: 196.1344px;
  left: 1158.97px;
  top: 229.3276px;

  background: linear-gradient(
    178.15deg,
    #ffffff 1.56%,
    rgba(255, 255, 255, 0) 165.01%
  );
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  text-align: center;
  padding-top:  87.56px;
}

#box4 {
  box-sizing: border-box;

  position: absolute;
  width:  321.1064px;
  height: 196.1344px;
  left: 408.9848px;
  top: 479.3512px;

  background: linear-gradient(
    178.15deg,
    #ffffff 1.56%,
    rgba(255, 255, 255, 0) 165.01%
  );
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  text-align: center;
  padding-top:  87.56px;
}

#box5 {
  box-sizing: border-box;

  position: absolute;
  width:  321.1064px;
  height: 196.1344px;
  left: 783.98039px;
  top:  479.3512px;

  background: linear-gradient(
    178.15deg,
    #ffffff 1.56%,
    rgba(255, 255, 255, 0) 165.01%
  );
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  text-align: center;
  padding-top:  87.56px;
}

#box6 {
  box-sizing: border-box;

  position: absolute;
  width:  321.1064px;
  height: 196.1344px;
  left: 1158.975px;
  top: 479.3512px;

  background: linear-gradient(
    178.15deg,
    #ffffff 1.56%,
    rgba(255, 255, 255, 0) 165.01%
  );
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  text-align: center;
  padding-top:  87.56px;
}

.boxes {
}
.move {
}
.boxes:hover .move {
  border: thin solid #ff0000;
  animation-name: tossing;
  -webkit-animation-name: tossing;

  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.boxes:hover .text {
  color: #ffffff;
}

.boxes:hover #box1 {
  background: #5e48b6;
}

.boxes:hover #box2 {
  background: #5e48b6;
}

.boxes:hover #box3 {
  background: #5e48b6;
}

.boxes:hover #box4 {
  background: #5e48b6;
}

.boxes:hover #box5 {
  background: #5e48b6;
}

.boxes:hover #box6 {
  background: #5e48b6;
}

@keyframes tossing {
  0% {
    transform: rotate(-2deg);
  }
}
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;

  font-size: 47.76px;
  line-height: 30px;
  /* identical to box height, or 50% */

  color: #5e48b6;
}

.choose_one {
  position: absolute;
  height:  29.9296px;
  left: 441.78px;
  top: 159.2px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size:  59.9388px;
  line-height: 30px;
  /* identical to box height, or 50% */

  color: #ffffff;
  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}

/*OBDfinish*/
.ok {
  position: absolute;
  height: 29.9296px;
  left: 682.9680000000001px;
  top: 524.962px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 139.93679999999998px;
  line-height: 30px;
  /* identical to box height, or 21% */

  color: #ffffff;
}

/*OBDfinish2 w/ user input*/
.OBD2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  /* identical to box height, or 150% */
  text-align: center;
  color: #ffffff;
  font-size: 79.998px;
}

.textLoc1 {
  position: absolute;

  height:  119.9572px;
  left:  849.969px;
  top: 359.95px;
}

.textLoc2 {
  position: absolute;
  height: 119.9572px;
  /*left*/
  top: 479.987999px;
}

.textLoc3 {
  position: absolute;
  height:  119.9572px;
  /*left*/
  top:  599.9452px;
}

/*OBDfinish3*/
.txt1 {
  position: absolute;
  height:  119.9572px;
  left: 876.9532px;
  top: 419.9696px;
}

.txt2 {
  position: absolute;
  height: 119.9572px;
  left: 514.9324px;
  top:  539.9268px;
  color: #5e48b6;
}

/*animation*/
.user-answer_no:hover .circle_no {
  transform: translateX(-200px);
  border-color: grey;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  opacity: 1;
}

.user-answer_no:hover .user-answer_no2 {
  color: grey;
  transition-duration: 1s;
  opacity: 1;
}

.user-answer_no:hover .bg-no {
  color: grey;
}

.user-answer_yes:hover .circle_yes {
  transform: translateX(200px);
  border-color: red;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  opacity: 1;
}

.user-answer_yes:hover .user-answer_yes2 {
  color: red;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  opacity: 1;
}

.user-answer_yes:hover .hr2 {
  border: 2px solid red;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  opacity: 1;
}

.user-answer_no:hover .hr1 {
  border: 2px solid grey;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  opacity: 1;
}

.no-area {
  position: absolute;
  height: 29.9296px;
  left:  583.468px;
  top:  856.9736px;
  white-space: nowrap;
}

/*timetaken2*/

/*
position: relative;
  width: 148px;
  height: 30px;
  left: 0px;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  /* identical to box height, or 75% */

.small {
  font-size: 24px;
  background-color: transparent;
  height: 58px;

  position: absolute;

  left: 940px;
  top: 856px;

  margin-left: -72px;
  color: #5e48b6;
  box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  border-color: #5e48b6;
}
