.route {
  position: absolute;
  width: 440px;
  height: 866.67px;
  left: 468px;
  top: 141px;
}

.bigtitle {
  position: absolute;
  width: 249px;
  height: 30px;
  left: 998px;
  top: 186px;

  white-space: nowrap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 30px;
  /* identical to box height, or 33% */

  color: #2f2f2f;

  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
}

.midtitle {
  position: absolute;
  width: 502px;
  height: 75px;
  left: 998px;
  top: 275px;

  white-space: nowrap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */

  color: #2f2f2f;
}

.loc {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 998px;
  top: 803px;
}

.address {
  position: absolute;
  width: 396px;
  height: 60px;
  left: 1056px;
  top: 800px;

  white-space: nowrap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */

  color: #2f2f2f;
}

.peice {
  position: absolute;
  width: 252.5px;
  height: 271.5px;
  left: 1039.5px;
  top: 433px;
}

.botton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 6px 6px 8px;

  position: absolute;
  width: 200px;
  height: 72px;
  left: 998px;
  top: 900px;

  background: #5e48b6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;

  white-space: nowrap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 16px;
  color: white;
  /* identical to box height, or 50% */
}
.clickToProceed {
  position: absolute;
  width: 186.98px;
  height: 29.9296px;
  left: 1292.9428px;
  top: 616.979px;

  white-space: nowrap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15.999599px;
  line-height: 30px;
  /* identical to box height, or 188% */

  color: #5e48b6;
}
.ellipseProceed {
  position: absolute;
  width: 29.9296px;
  height: 29.9296px;
  left: 1245.9788px;
  top: 612.92px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-color: #5e48b6;
}

.wrapper {
  margin: 0 auto;
  padding: 30px;
}
