.smallHi {
  position: absolute;
  height: 29.9296px;
  left: 413.9996px;
  top: 196.53240000000002px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 55.958800000px;
  line-height: 30px;
  /* identical to box height, or 54% */

  color: #5e48b6;
}

.introHimself {
  /* 안녕하세요. 저는 이영호라고 합니다. 8년 전 사고 이후 오른쪽 다리가 마비되었습니다. */

  position: absolute;
  width:  985.9256px;
  height: 89.948px;
  left: 422.9944px;
  top: 279.794px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23.95960px;
  line-height: 30px;
  /* or 125% */

  color: #000000;
}

.personaLine {
  /*페2휠체어*/
  position: absolute;
  width: 1015.9348px;
  height: 0px;
  left:392.98519999999996px;
  top:  395.9304px;

  border: 1px solid #ffffff;
}
.goBack {
  position: absolute;
  width: 186.980px;
  height:  29.9296px;
  left: 422.994px;
  top: 611.9648px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size:15.9995px;
  line-height: 30px;
  /* identical to box height, or 188% */

  color: #898989;
}

.clickToProceed {
  position: absolute;
  width: 186.98px;
  height:  29.9296px;
  left:1292.9428px;
  top: 616.97960px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size:  15.9995px;
  line-height: 30px;
  /* identical to box height, or 188% */

  color: #5e48b6;
}

.ellipseProceed {
  position: absolute;
  width:  29.9296px;
  height:  29.9296px;
  left: 1245.9788px;
  top:  612.92px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-color: #5e48b6;
}

.wrapper {
  margin: 0 auto;
  padding: 30px;
}

.persona1Loc {
  position: absolute;
  width:358.2px;
  left: 716.4px;
  top: 437.8px;
  
}

/*2*/
.askUser1 {
  /* 제가 휠체어를 타고 있어서 놀라셨나요? */
  position: absolute;
  height:  29.9296px;
  left: 505.9376px;
  top:  196.53px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 55.9588px;
  line-height: 30px;
  /* identical to box height, or 54% */
  color: #ffffff;
}

.answer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  color: #5e48b6;
  top: 350.24px;
  /* identical to box height, or 75% */
}

.no {
  position: absolute;
  height: 29.9296px;
  left: 583.9456px;
  
}

.yes {
  position: absolute;
  height: 29.9296px;
  left:  1100.9476px;
  
}

.lineUpper2 {
  top:  405.96px;
}
*/
.lineLeft {
  position: absolute;
  width:  120.9919px;
  height: 0px;
  left:  583.9456px;
  top: 529.34px;
  border: 1px solid #ffffff;
}
.lineRight {
  position: absolute;
  width: 189.9256px;
  height: 0px;
  left:  1099.9924px;
  top: 529.34px;
  border: 1px solid #ffffff;
}

.line_longer {
  width:204.4127px;
}

/*1.3*/

.ask1_3 {
  position: absolute;
  height: 30px;
  left: 414px;
  top: 294px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 30px;
  /* identical to box height, or 54% */
  
  
  color: #5E48B6;}

.answer1_3{
  position: absolute;
  width: 986px;
  height: 180px;
  left: 414px;
  top: 387px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  
  
  color: #000000;}

.articleBox {
    /* 3. Contained/A. Text */
    box-sizing: border-box;

  /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 6px 6px 8px;

    position: absolute;
    width: 170px;
    height: 60px;
    left: 1232px;
    top: 279px;

    border: 1px solid #5E48B6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;s
  }

.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    /* identical to box height, or 67% */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #5E48B6;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

.click2 {
  left:1277.0228px;
  top: 601.0596px;
}
.ellipse2 {
  left: 1230.0588px;
  top:  597px;
}

a {
  text-decoration-line: none;}

/*p1-2answer1*/
.answer_ohreally { 
  position: absolute;
  height: 29.9296px;
  left: 827.84px;
  top:315.9324px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 55.958800000000004px;
  line-height: 30px;
  /* identical to box height, or 54% */
  color: #FFFFFF;
}
/*p1-2answer2*/

.answer_Isee {
  position: absolute;
  width:232.98919999999998px;
  height:  29.9296px;
  left: 828.95px;
  top:  315.9324px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 30px;
  /* identical to box height, or 54% */
  color: #FFFFFF;
}
/*p1-4answer*/
.answer_disappointed {
  /* 아, 그래요..? (몸시 실망한 표정) */
  position: absolute;
  width:  735.9815999999998px;
  height:29.9296px;
  left:  598.99px;
  top:  315.9324px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 55.958800000000004px;
  line-height: 30px;
  /* identical to box height, or 54% */
  color: #FFFFFF;
}
.middle {
  position: absolute;
  width:  252.96880000000002px;
  height: 29.9296px;
  left: 851.9588px;
  top:465.97839999999997px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 39.959199999999996px;
  line-height: 30px;
  /* identical to box height, or 75% */
  color: #5E48B6;
}

.persona1 {
  position: absolute;
  height:  509.44px;
  left: 159.2px;
  top:  573.12px;
}

.face{position: absolute;
  position: absolute;
  height: 509.44px;
  left: 764.16px;
  
}